#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$lnLb63uZ1bw/lxzv$S2W1pzbmEhcjfJFE7TuF5gKWZpNJfntYQ6.qKzOsUBGLLxquWfereWSIVgiv.Fcw2qL8qhJKk4F.Ixh9kyIQE/
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc
user --name=user --password=$6$//7K/doD1g39oYs.$7f29HgCo6HyNIT.H5sh0SqRpHpb1i1wtCfXBYpHi3qH.1DpRbgnSVUlc4LoPVL3ovO.ayj0ErFLb3acNxpaJz. --iscrypted --gecos="user"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=500
part pv.259 --fstype="lvmpv" --ondisk=sda --size=11272
volgroup centos --pesize=4096 pv.259
logvol swap  --fstype="swap" --size=1024 --name=swap --vgname=centos
logvol /  --fstype="xfs" --size=10240 --name=root --vgname=centos

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
